<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            font-size: 90px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        h2
        {
            font-size: 18px;
            text-align:center;
        }
        h3
        {
        	font-size: 16px;
        	text-align:center;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Django Game </h1>
    <h2>This game is all about the a Sci-Fi Mystery </h2>
    <h3> We are so glad that you joined this game </h3>
</body>
</html>
